body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 1rem;
  font-family: Times New 'Times New Roman', Times, serif;
  padding-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.side-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-text h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  color: rgb(108, 90, 66);
  font-family: 'Book Antiqua', serif;
}

.side-text h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  color: rgb(108, 90, 66);
  font-family: 'Bradley Hand ITC', cursive;
}

.side-text .message {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  margin-bottom: 0;
}

.side-text .signature {
  text-align: right;
  font-size: large;
  font-weight: bold;
  color: #444;
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(44, 1fr); 
  width: 800px; 
  height: 640px; 
  border: 2px solid black; 
} 

.cell { 
  border: 1px solid #6d6d6d; 
  background-color: white; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .side-text {
    text-align: center;
  }
}

.cell:nth-child(15) { background-color: black; }
.cell:nth-child(17) { background-color: black; }
.cell:nth-child(59) { background-color: black; }
.cell:nth-child(61) { background-color: black; }
.cell:nth-child(103) { background-color: black; }
.cell:nth-child(105) { background-color: black; }
.cell:nth-child(147) { background-color: black; }
.cell:nth-child(149) { background-color: black; }
.cell:nth-child(191) { background-color: black; }
.cell:nth-child(193) { background-color: black; }
.cell:nth-child(235) { background-color: black; }
.cell:nth-child(237) { background-color: black; }
.cell:nth-child(279) { background-color: black; }
.cell:nth-child(281) { background-color: black; }
.cell:nth-child(323) { background-color: black; }
.cell:nth-child(325) { background-color: black; }
.cell:nth-child(367) { background-color: black; }
.cell:nth-child(369) { background-color: black; }
.cell:nth-child(411) { background-color: black; }
.cell:nth-child(413) { background-color: black; }
.cell:nth-child(455) { background-color: black; }
.cell:nth-child(457) { background-color: black; }
.cell:nth-child(499) { background-color: black; }
.cell:nth-child(501) { background-color: black; }
.cell:nth-child(543) { background-color: black; }
.cell:nth-child(545) { background-color: black; }
.cell:nth-child(587) { background-color: #000000; }
.cell:nth-child(589) { background-color: #000000; }
.cell:nth-child(631) { background-color: #000000; }
.cell:nth-child(633) { background-color: #000000; }
.cell:nth-child(675) { background-color: #000000; }
.cell:nth-child(677) { background-color: #000000; }
.cell:nth-child(719) { background-color: #000000; }
.cell:nth-child(721) { background-color: #000000; }
.cell:nth-child(760) { background-color: #000000; }
.cell:nth-child(761) { background-color: #000000; }
.cell:nth-child(763) { background-color: #000000; }
.cell:nth-child(765) { background-color: #000000; }
.cell:nth-child(803) { background-color: #000000; }


.cell:nth-child(804) { background-color: red; }
.cell:nth-child(805) { background-color: red; }
.cell:nth-child(806) { background-color: black; }
.cell:nth-child(807) { background-color: black; }
.cell:nth-child(809) { background-color: black; }
.cell:nth-child(846) { background-color: black; }
.cell:nth-child(847) { background-color: red; }
.cell:nth-child(848) { background-color: red; }
.cell:nth-child(849) { background-color: red; }

.cell:nth-child(850) { background-color: black; }
.cell:nth-child(851) { background-color: black; }
.cell:nth-child(853) { background-color: black; }
.cell:nth-child(889) { background-color: black; }
.cell:nth-child(890) { background-color: red; }
.cell:nth-child(891) { background-color: red; }
.cell:nth-child(892) { background-color: red; }
.cell:nth-child(893) { background-color: red; }
.cell:nth-child(894) { background-color: #000000; }
.cell:nth-child(895) { background-color: #000000; }
.cell:nth-child(897) { background-color: #000000; }
.cell:nth-child(899) { background-color: #000000; }
.cell:nth-child(900) { background-color: #000000; }
.cell:nth-child(933) { background-color: #000000; }

.cell:nth-child(934) { background-color: red; }
.cell:nth-child(935) { background-color: #000000; }
.cell:nth-child(936) { background-color: #000000; }
.cell:nth-child(937) { background-color: #000000; }
.cell:nth-child(938) { background-color: red; }
.cell:nth-child(939) { background-color: #000000; }
.cell:nth-child(940) { background-color: #000000; }
.cell:nth-child(941) { background-color: #000000; }
.cell:nth-child(942) { background-color: #000000; }
.cell:nth-child(943) { background-color: blue; }
.cell:nth-child(944) { background-color: blue; }
.cell:nth-child(945) { background-color: #000000; }
.cell:nth-child(977) { background-color: #000000; }
.cell:nth-child(978) { background-color: #000000; }
.cell:nth-child(979) { background-color: blue; }
.cell:nth-child(980) { background-color: blue; }
.cell:nth-child(981) { background-color: blue; }
.cell:nth-child(982) { background-color: #000000; }
.cell:nth-child(983) { background-color: #000000; }
.cell:nth-child(984) { background-color: red; }
.cell:nth-child(985) { background-color: #000000; }
.cell:nth-child(986) { background-color: #000000; }
.cell:nth-child(987) { background-color: #000000; }
.cell:nth-child(988) { background-color: blue; }
.cell:nth-child(989) { background-color: blue; }
.cell:nth-child(990) { background-color: #000000; }
.cell:nth-child(1021) { background-color: #000000; }
.cell:nth-child(1022) { background-color: blue; }
.cell:nth-child(1023) { background-color: blue; }
.cell:nth-child(1024) { background-color: blue; }
.cell:nth-child(1025) { background-color: blue; }
.cell:nth-child(1026) { background-color: blue; }
.cell:nth-child(1027) { background-color: #000000; }
.cell:nth-child(1028) { background-color: red; }
.cell:nth-child(1029) { background-color: #000000; }
.cell:nth-child(1030) { background-color: red; }
.cell:nth-child(1031) { background-color: #000000; }
.cell:nth-child(1032) { background-color: blue; }
.cell:nth-child(1033) { background-color: blue; }
.cell:nth-child(1034) { background-color: #000000; }
.cell:nth-child(1064) { background-color: #000000; }
.cell:nth-child(1065) { background-color: #000000; }
.cell:nth-child(1066) { background-color: blue; }
.cell:nth-child(1067) { background-color: blue; }
.cell:nth-child(1068) { background-color: blue; }
.cell:nth-child(1069) { background-color: blue; }
.cell:nth-child(1070) { background-color: blue; }
.cell:nth-child(1071) { background-color: #000000; }
.cell:nth-child(1072) { background-color: #000000; }
.cell:nth-child(1073) { background-color: red; }
.cell:nth-child(1074) { background-color: red; }
.cell:nth-child(1075) { background-color: #000000; }
.cell:nth-child(1076) { background-color: blue; }
.cell:nth-child(1077) { background-color: #000000; }
.cell:nth-child(1107) { background-color: #000000; }
.cell:nth-child(1108) { background-color: blue; }
.cell:nth-child(1109) { background-color: #000000; }
.cell:nth-child(1110) { background-color: blue; }
.cell:nth-child(1111) { background-color: blue; }
.cell:nth-child(1112) { background-color: blue; }
.cell:nth-child(1113) { background-color: blue; }
.cell:nth-child(1114) { background-color: blue; }
.cell:nth-child(1115) { background-color: #000000; }
.cell:nth-child(1116) { background-color: #000000; }
.cell:nth-child(1117) { background-color: red; }
.cell:nth-child(1118) { background-color: red; }
.cell:nth-child(1119) { background-color: #000000; }
.cell:nth-child(1120) { background-color: #000000; }
.cell:nth-child(1151) { background-color: #000000; }
.cell:nth-child(1152) { background-color: blue; }
.cell:nth-child(1153) { background-color: #000000; }
.cell:nth-child(1154) { background-color: blue; }
.cell:nth-child(1155) { background-color: blue; }
.cell:nth-child(1156) { background-color: blue; }
.cell:nth-child(1157) { background-color: blue; }
.cell:nth-child(1158) { background-color: blue; }
.cell:nth-child(1159) { background-color: #000000; }
.cell:nth-child(1160) { background-color: #000000; }
.cell:nth-child(1161) { background-color: red; }
.cell:nth-child(1162) { background-color: red; }
.cell:nth-child(1163) { background-color: #000000; }
.cell:nth-child(1174) { background-color: #000000; }
.cell:nth-child(1175) { background-color: #000000; }
.cell:nth-child(1176) { background-color: #000000; }
.cell:nth-child(1177) { background-color: #000000; }
.cell:nth-child(1178) { background-color: #000000; }
.cell:nth-child(1195) { background-color: #000000; }
.cell:nth-child(1196) { background-color: #000000; }
.cell:nth-child(1197) { background-color: #000000; }
.cell:nth-child(1198) { background-color: #000000; }
.cell:nth-child(1199) { background-color: blue; }
.cell:nth-child(1200) { background-color: blue; }
.cell:nth-child(1201) { background-color: blue; }
.cell:nth-child(1202) { background-color: #000000; }
.cell:nth-child(1203) { background-color: red; }
.cell:nth-child(1204) { background-color: #000000; }
.cell:nth-child(1205) { background-color: #000000; }
.cell:nth-child(1206) { background-color: #000000; }
.cell:nth-child(1217) { background-color: #000000; }
.cell:nth-child(1218) { background-color: #ff33cc; }
.cell:nth-child(1219) { background-color: #ff33cc; }
.cell:nth-child(1220) { background-color: #000000; }
.cell:nth-child(1223) { background-color: #000000; }
.cell:nth-child(1224) { background-color: #000000; }
.cell:nth-child(1225) { background-color: #000000; }
.cell:nth-child(1226) { background-color: #000000; }
.cell:nth-child(1238) { background-color: #000000; }
.cell:nth-child(1239) { background-color: red; }
.cell:nth-child(1240) { background-color: red; }
.cell:nth-child(1241) { background-color: red; }
.cell:nth-child(1242) { background-color: red; }
.cell:nth-child(1243) { background-color: #000000; }
.cell:nth-child(1244) { background-color: #000000; }
.cell:nth-child(1245) { background-color: #000000; }
.cell:nth-child(1246) { background-color: red; }
.cell:nth-child(1247) { background-color: red; }
.cell:nth-child(1248) { background-color: #000000; }
.cell:nth-child(1249) { background-color: #000000; }
.cell:nth-child(1250) { background-color: #000000; }
.cell:nth-child(1260) { background-color: #000000; }
.cell:nth-child(1261) { background-color: #ff33cc; }
.cell:nth-child(1262) { background-color: #ff33cc; }
.cell:nth-child(1263) { background-color: #ff33cc; }
.cell:nth-child(1264) { background-color: #000000; }
.cell:nth-child(1266) { background-color: #000000; }
.cell:nth-child(1267) { background-color: #000000; }
.cell:nth-child(1271) { background-color: #000000; }
.cell:nth-child(1282) { background-color: #000000; }
.cell:nth-child(1283) { background-color: red; }
.cell:nth-child(1284) { background-color: #000000; }
.cell:nth-child(1285) { background-color: #000000; }
.cell:nth-child(1286) { background-color: red; }
.cell:nth-child(1287) { background-color: red; }
.cell:nth-child(1288) { background-color: #000000; }
.cell:nth-child(1289) { background-color: #000000; }
.cell:nth-child(1290) { background-color: #000000; }
.cell:nth-child(1291) { background-color: #000000; }
.cell:nth-child(1292) { background-color: #000000; }
.cell:nth-child(1293) { background-color: #000000; }
.cell:nth-child(1294) { background-color: #000000; }
.cell:nth-child(1304) { background-color: #000000; }
.cell:nth-child(1305) { background-color: #ff33cc; }
.cell:nth-child(1306) { background-color: #000000; }
.cell:nth-child(1307) { background-color: #000000; }
.cell:nth-child(1308) { background-color: #000000; }
.cell:nth-child(1309) { background-color: #000000; }
.cell:nth-child(1310) { background-color: #000000; }
.cell:nth-child(1315) { background-color: #000000; }
.cell:nth-child(1326) { background-color: #000000; }
.cell:nth-child(1327) { background-color: #000000; }
.cell:nth-child(1328) { background-color: blue; }
.cell:nth-child(1329) { background-color: blue; }
.cell:nth-child(1330) { background-color: #000000; }
.cell:nth-child(1331) { background-color: #000000; }
.cell:nth-child(1332) { background-color: blue; }
.cell:nth-child(1333) { background-color: blue; }
.cell:nth-child(1334) { background-color: blue; }
.cell:nth-child(1335) { background-color: #000000; }
.cell:nth-child(1336) { background-color: blue; }
.cell:nth-child(1337) { background-color: blue; }
.cell:nth-child(1338) { background-color: #000000; }
.cell:nth-child(1346) { background-color: #000000; }
.cell:nth-child(1347) { background-color: #000000; }
.cell:nth-child(1348) { background-color: #ff33cc; }
.cell:nth-child(1349) { background-color: #ff33cc; }
.cell:nth-child(1350) { background-color: #000000; }
.cell:nth-child(1351) { background-color: #ff33cc; }
.cell:nth-child(1352) { background-color: #ff33cc; }
.cell:nth-child(1353) { background-color: #000000; }
.cell:nth-child(1354) { background-color: #000000; }
.cell:nth-child(1355) { background-color: #000000; }
.cell:nth-child(1359) { background-color: #000000; }
.cell:nth-child(1370) { background-color: #000000; }
.cell:nth-child(1371) { background-color: blue; }
.cell:nth-child(1372) { background-color: blue; }
.cell:nth-child(1373) { background-color: blue; }
.cell:nth-child(1374) { background-color: #000000; }
.cell:nth-child(1375) { background-color: #000000; }
.cell:nth-child(1376) { background-color: blue; }
.cell:nth-child(1377) { background-color: blue; }
.cell:nth-child(1378) { background-color: blue; }
.cell:nth-child(1379) { background-color: #000000; }
.cell:nth-child(1380) { background-color: blue; }
.cell:nth-child(1381) { background-color: blue; }
.cell:nth-child(1382) { background-color: #000000; }
.cell:nth-child(1389) { background-color: #000000; }
.cell:nth-child(1392) { background-color: #000000; }
.cell:nth-child(1393) { background-color: #000000; }
.cell:nth-child(1394) { background-color: #000000; }
.cell:nth-child(1395) { background-color: #ff33cc; }
.cell:nth-child(1396) { background-color: #ff33cc; }
.cell:nth-child(1397) { background-color: #000000; }
.cell:nth-child(1398) { background-color: #ff33cc; }
.cell:nth-child(1399) { background-color: #ff33cc; }
.cell:nth-child(1400) { background-color: #000000; }
.cell:nth-child(1403) { background-color: #000000; }
.cell:nth-child(1414) { background-color: #000000; }
.cell:nth-child(1415) { background-color: blue; }
.cell:nth-child(1416) { background-color: blue; }
.cell:nth-child(1417) { background-color: blue; }
.cell:nth-child(1418) { background-color: #000000; }
.cell:nth-child(1419) { background-color: #000000; }
.cell:nth-child(1420) { background-color: #000000; }
.cell:nth-child(1421) { background-color: blue; }
.cell:nth-child(1422) { background-color: #000000; }
.cell:nth-child(1423) { background-color: red; }
.cell:nth-child(1424) { background-color: #000000; }
.cell:nth-child(1425) { background-color: blue; }
.cell:nth-child(1426) { background-color: #000000; }
.cell:nth-child(1432) { background-color: #000000; }
.cell:nth-child(1439) { background-color: #000000; }
.cell:nth-child(1440) { background-color: #000000; }
.cell:nth-child(1441) { background-color: #000000; }
.cell:nth-child(1442) { background-color: #ff33cc; }
.cell:nth-child(1443) { background-color: #ff33cc; }
.cell:nth-child(1444) { background-color: #000000; }
.cell:nth-child(1447) { background-color: #000000; }
.cell:nth-child(1448) { background-color: #000000; }
.cell:nth-child(1459) { background-color: #000000; }
.cell:nth-child(1460) { background-color: blue; }
.cell:nth-child(1461) { background-color: #000000; }
.cell:nth-child(1462) { background-color: #000000; }
.cell:nth-child(1463) { background-color: red; }
.cell:nth-child(1464) { background-color: red; }
.cell:nth-child(1465) { background-color: #000000; }
.cell:nth-child(1466) { background-color: #000000; }
.cell:nth-child(1467) { background-color: red; }
.cell:nth-child(1468) { background-color: red; }
.cell:nth-child(1469) { background-color: #000000; }
.cell:nth-child(1470) { background-color: #000000; }
.cell:nth-child(1475) { background-color: #000000; }
.cell:nth-child(1484) { background-color: #000000; }
.cell:nth-child(1485) { background-color: #ff33cc; }
.cell:nth-child(1486) { background-color: #ff33cc; }
.cell:nth-child(1487) { background-color: #000000; }
.cell:nth-child(1488) { background-color: #000000; }
.cell:nth-child(1492) { background-color: #000000; }
.cell:nth-child(1503) { background-color: #000000; }
.cell:nth-child(1504) { background-color: blue; }
.cell:nth-child(1505) { background-color: #000000; }
.cell:nth-child(1506) { background-color: red; }
.cell:nth-child(1507) { background-color: red; }
.cell:nth-child(1508) { background-color: red; }
.cell:nth-child(1509) { background-color: #000000; }
.cell:nth-child(1510) { background-color: #000000; }
.cell:nth-child(1511) { background-color: red; }
.cell:nth-child(1512) { background-color: red; }
.cell:nth-child(1513) { background-color: #000000; }
.cell:nth-child(1519) { background-color: #000000; }
.cell:nth-child(1528) { background-color: #000000; }
.cell:nth-child(1529) { background-color: #ff33cc; }
.cell:nth-child(1530) { background-color: #000000; }
.cell:nth-child(1531) { background-color: #000000; }
.cell:nth-child(1537) { background-color: #000000; }
.cell:nth-child(1547) { background-color: #000000; }
.cell:nth-child(1548) { background-color: #000000; }
.cell:nth-child(1549) { background-color: #000000; }
.cell:nth-child(1550) { background-color: #000000; }
.cell:nth-child(1551) { background-color: #000000; }
.cell:nth-child(1552) { background-color: #000000; }
.cell:nth-child(1553) { background-color: #000000; }
.cell:nth-child(1554) { background-color: #000000; }
.cell:nth-child(1555) { background-color: #000000; }
.cell:nth-child(1556) { background-color: #000000; }
.cell:nth-child(1557) { background-color: #000000; }
.cell:nth-child(1558) { background-color: #000000; }
.cell:nth-child(1562) { background-color: #000000; }
.cell:nth-child(1572) { background-color: #000000; }
.cell:nth-child(1573) { background-color: #000000; }
.cell:nth-child(1574) { background-color: #000000; }
.cell:nth-child(1581) { background-color: #000000; }
.cell:nth-child(1591) { background-color: #000000; }
.cell:nth-child(1592) { background-color: red; }
.cell:nth-child(1593) { background-color: red; }
.cell:nth-child(1594) { background-color: red; }
.cell:nth-child(1595) { background-color: red; }
.cell:nth-child(1596) { background-color: red; }
.cell:nth-child(1597) { background-color: red; }
.cell:nth-child(1598) { background-color: red; }
.cell:nth-child(1599) { background-color: red; }
.cell:nth-child(1600) { background-color: red; }
.cell:nth-child(1601) { background-color: red; }
.cell:nth-child(1602) { background-color: red; }
.cell:nth-child(1603) { background-color: #000000; }
.cell:nth-child(1604) { background-color: #000000; }
.cell:nth-child(1605) { background-color: #000000; }
.cell:nth-child(1606) { background-color: #000000; }
.cell:nth-child(1609) { background-color: #000000; }
.cell:nth-child(1626) { background-color: #000000; }
.cell:nth-child(1634) { background-color: #000000; }
.cell:nth-child(1635) { background-color: red; }
.cell:nth-child(1636) { background-color: red; }
.cell:nth-child(1637) { background-color: red; }
.cell:nth-child(1638) { background-color: red; }
.cell:nth-child(1639) { background-color: red; }
.cell:nth-child(1640) { background-color: red; }
.cell:nth-child(1641) { background-color: #000000; }
.cell:nth-child(1642) { background-color: #000000; }
.cell:nth-child(1643) { background-color: #000000; }
.cell:nth-child(1644) { background-color: red; }
.cell:nth-child(1645) { background-color: red; }
.cell:nth-child(1646) { background-color: red; }
.cell:nth-child(1647) { background-color: red; }
.cell:nth-child(1648) { background-color: #000000; }
.cell:nth-child(1649) { background-color: #ffff00; }
.cell:nth-child(1650) { background-color: #000000; }
.cell:nth-child(1653) { background-color: #000000; }
.cell:nth-child(1657) { background-color: #000000; }
.cell:nth-child(1658) { background-color: #000000; }
.cell:nth-child(1659) { background-color: #000000; }
.cell:nth-child(1670) { background-color: #000000; }
.cell:nth-child(1677) { background-color: #000000; }
.cell:nth-child(1678) { background-color: red; }
.cell:nth-child(1679) { background-color: red; }
.cell:nth-child(1680) { background-color: red; }
.cell:nth-child(1681) { background-color: red; }
.cell:nth-child(1682) { background-color: red; }
.cell:nth-child(1683) { background-color: red; }
.cell:nth-child(1684) { background-color: red; }
.cell:nth-child(1685) { background-color: red; }
.cell:nth-child(1686) { background-color: red; }
.cell:nth-child(1687) { background-color: #000000; }
.cell:nth-child(1688) { background-color: #000000; }
.cell:nth-child(1689) { background-color: red; }
.cell:nth-child(1690) { background-color: red; }
.cell:nth-child(1691) { background-color: red; }
.cell:nth-child(1692) { background-color: red; }
.cell:nth-child(1693) { background-color: #000000; }
.cell:nth-child(1694) { background-color: #000000; }
.cell:nth-child(1704) { background-color: #000000; }
.cell:nth-child(1705) { background-color: #000000; }
.cell:nth-child(1714) { background-color: #000000; }
.cell:nth-child(1720) { background-color: #000000; }
.cell:nth-child(1721) { background-color: red; }
.cell:nth-child(1722) { background-color: red; }
.cell:nth-child(1723) { background-color: red; }
.cell:nth-child(1724) { background-color: red; }
.cell:nth-child(1725) { background-color: red; }
.cell:nth-child(1726) { background-color: red; }
.cell:nth-child(1727) { background-color: red; }
.cell:nth-child(1728) { background-color: red; }
.cell:nth-child(1729) { background-color: #000000; }
.cell:nth-child(1730) { background-color: #000000; }
.cell:nth-child(1731) { background-color: #000000; }
.cell:nth-child(1732) { background-color: red; }
.cell:nth-child(1733) { background-color: red; }
.cell:nth-child(1734) { background-color: red; }
.cell:nth-child(1735) { background-color: red; }
.cell:nth-child(1736) { background-color: red; }
.cell:nth-child(1737) { background-color: red; }
.cell:nth-child(1738) { background-color: #000000; }
.cell:nth-child(1745) { background-color: #000000; }
.cell:nth-child(1758) { background-color: #000000; }
.cell:nth-child(1764) { background-color: #000000; }
.cell:nth-child(1765) { background-color: red; }
.cell:nth-child(1766) { background-color: red; }
.cell:nth-child(1767) { background-color: red; }
.cell:nth-child(1768) { background-color: red; }
.cell:nth-child(1769) { background-color: red; }
.cell:nth-child(1770) { background-color: red; }
.cell:nth-child(1771) { background-color: red; }
.cell:nth-child(1772) { background-color: red; }
.cell:nth-child(1773) { background-color: red; }
.cell:nth-child(1774) { background-color: red; }
.cell:nth-child(1775) { background-color: red; }
.cell:nth-child(1776) { background-color: red; }
.cell:nth-child(1777) { background-color: red; }
.cell:nth-child(1778) { background-color: red; }
.cell:nth-child(1779) { background-color: red; }
.cell:nth-child(1780) { background-color: red; }
.cell:nth-child(1781) { background-color: red; }
.cell:nth-child(1782) { background-color: #000000; }
.cell:nth-child(1790) { background-color: #000000; }
.cell:nth-child(1791) { background-color: #000000; }
.cell:nth-child(1801) { background-color: #000000; }
.cell:nth-child(1802) { background-color: #000000; }
.cell:nth-child(1807) { background-color: #000000; }
.cell:nth-child(1808) { background-color: red; }
.cell:nth-child(1809) { background-color: red; }
.cell:nth-child(1810) { background-color: red; }
.cell:nth-child(1811) { background-color: red; }
.cell:nth-child(1812) { background-color: red; }
.cell:nth-child(1813) { background-color: red; }
.cell:nth-child(1814) { background-color: red; }
.cell:nth-child(1815) { background-color: red; }
.cell:nth-child(1816) { background-color: red; }
.cell:nth-child(1817) { background-color: red; }
.cell:nth-child(1818) { background-color: #000000; }
.cell:nth-child(1819) { background-color: #000000; }
.cell:nth-child(1820) { background-color: #000000; }
.cell:nth-child(1821) { background-color: red; }
.cell:nth-child(1822) { background-color: red; }
.cell:nth-child(1823) { background-color: #000000; }
.cell:nth-child(1824) { background-color: #000000; }
.cell:nth-child(1825) { background-color: red; }
.cell:nth-child(1826) { background-color: #000000; }
.cell:nth-child(1827) { background-color: #000000; }
.cell:nth-child(1832) { background-color: #000000; }
.cell:nth-child(1833) { background-color: #000000; }
.cell:nth-child(1837) { background-color: #000000; }
.cell:nth-child(1838) { background-color: #000000; }
.cell:nth-child(1839) { background-color: #000000; }
.cell:nth-child(1845) { background-color: #000000; }
.cell:nth-child(1851) { background-color: #000000; }
.cell:nth-child(1852) { background-color: red; }
.cell:nth-child(1853) { background-color: red; }
.cell:nth-child(1854) { background-color: red; }
.cell:nth-child(1855) { background-color: red; }
.cell:nth-child(1856) { background-color: red; }
.cell:nth-child(1857) { background-color: red; }
.cell:nth-child(1858) { background-color: red; }
.cell:nth-child(1859) { background-color: red; }
.cell:nth-child(1860) { background-color: #000000; }
.cell:nth-child(1861) { background-color: #000000; }
.cell:nth-child(1862) { background-color: #000000; }
.cell:nth-child(1863) { background-color: red; }
.cell:nth-child(1864) { background-color: red; }
.cell:nth-child(1865) { background-color: #000000; }
.cell:nth-child(1866) { background-color: #000000; }
.cell:nth-child(1869) { background-color: #000000; }
.cell:nth-child(1870) { background-color: #000000; }
.cell:nth-child(1871) { background-color: #000000; }
.cell:nth-child(1872) { background-color: #000000; }
.cell:nth-child(1878) { background-color: #000000; }
.cell:nth-child(1880) { background-color: #000000; }
.cell:nth-child(1884) { background-color: #000000; }
.cell:nth-child(1889) { background-color: #000000; }
.cell:nth-child(1895) { background-color: #000000; }
.cell:nth-child(1896) { background-color: red; }
.cell:nth-child(1897) { background-color: red; }
.cell:nth-child(1898) { background-color: red; }
.cell:nth-child(1899) { background-color: red; }
.cell:nth-child(1900) { background-color: red; }
.cell:nth-child(1901) { background-color: red; }
.cell:nth-child(1902) { background-color: red; }
.cell:nth-child(1903) { background-color: red; }
.cell:nth-child(1904) { background-color: red; }
.cell:nth-child(1905) { background-color: red; }
.cell:nth-child(1906) { background-color: red; }
.cell:nth-child(1907) { background-color: red; }
.cell:nth-child(1908) { background-color: red; }
.cell:nth-child(1909) { background-color: #000000; }
.cell:nth-child(1913) { background-color: #000000; }
.cell:nth-child(1914) { background-color: #000000; }
.cell:nth-child(1915) { background-color: #000000; }
.cell:nth-child(1917) { background-color: #000000; }
.cell:nth-child(1918) { background-color: #000000; }
.cell:nth-child(1924) { background-color: #000000; }
.cell:nth-child(1928) { background-color: #000000; }
.cell:nth-child(1932) { background-color: #000000; }
.cell:nth-child(1940) { background-color: #000000; }
.cell:nth-child(1941) { background-color: red; }
.cell:nth-child(1942) { background-color: red; }
.cell:nth-child(1943) { background-color: red; }
.cell:nth-child(1944) { background-color: red; }
.cell:nth-child(1945) { background-color: red; }
.cell:nth-child(1946) { background-color: red; }
.cell:nth-child(1947) { background-color: red; }
.cell:nth-child(1948) { background-color: red; }
.cell:nth-child(1949) { background-color: red; }
.cell:nth-child(1950) { background-color: red; }
.cell:nth-child(1951) { background-color: red; }
.cell:nth-child(1952) { background-color: red; }
.cell:nth-child(1953) { background-color: black; }
.cell:nth-child(1956) { background-color: #000000; }
.cell:nth-child(1957) { background-color: red; }
.cell:nth-child(1958) { background-color: #000000; }
.cell:nth-child(1960) { background-color: #000000; }
.cell:nth-child(1963) { background-color: #000000; }
.cell:nth-child(1964) { background-color: #000000; }
.cell:nth-child(1967) { background-color: #000000; }
.cell:nth-child(1971) { background-color: #000000; }
.cell:nth-child(1972) { background-color: #000000; }
.cell:nth-child(1974) { background-color: #000000; }
.cell:nth-child(1975) { background-color: #000000; }
.cell:nth-child(1984) { background-color: #000000; }
.cell:nth-child(1985) { background-color: red; }
.cell:nth-child(1986) { background-color: red; }
.cell:nth-child(1987) { background-color: red; }
.cell:nth-child(1988) { background-color: red; }
.cell:nth-child(1989) { background-color: red; }
.cell:nth-child(1990) { background-color: red; }
.cell:nth-child(1991) { background-color: red; }
.cell:nth-child(1992) { background-color: red; }
.cell:nth-child(1993) { background-color: red; }
.cell:nth-child(1994) { background-color: red; }
.cell:nth-child(1995) { background-color: red; }
.cell:nth-child(1996) { background-color: red; }
.cell:nth-child(1997) { background-color: #000000; }
.cell:nth-child(1998) { background-color: #000000; }
.cell:nth-child(1999) { background-color: #000000; }
.cell:nth-child(2000) { background-color: red; }
.cell:nth-child(2001) { background-color: #000000; }
.cell:nth-child(2005) { background-color: #000000; }
.cell:nth-child(2007) { background-color: #000000; }
.cell:nth-child(2009) { background-color: #000000; }
.cell:nth-child(2010) { background-color: #000000; }
.cell:nth-child(2011) { background-color: #000000; }
.cell:nth-child(2014) { background-color: #000000; }
.cell:nth-child(2015) { background-color: #000000; }
.cell:nth-child(2016) { background-color: #000000; }
.cell:nth-child(2017) { background-color: #000000; }
.cell:nth-child(2018) { background-color: #000000; }
.cell:nth-child(2029) { background-color: #000000; }
.cell:nth-child(2030) { background-color: red; }
.cell:nth-child(2031) { background-color: red; }
.cell:nth-child(2032) { background-color: red; }
.cell:nth-child(2033) { background-color: red; }
.cell:nth-child(2034) { background-color: red; }
.cell:nth-child(2035) { background-color: red; }
.cell:nth-child(2036) { background-color: red; }
.cell:nth-child(2037) { background-color: red; }
.cell:nth-child(2038) { background-color: red; }
.cell:nth-child(2039) { background-color: red; }
.cell:nth-child(2040) { background-color: red; }
.cell:nth-child(2041) { background-color: #000000; }
.cell:nth-child(2042) { background-color: #000000; }
.cell:nth-child(2043) { background-color: red; }
.cell:nth-child(2044) { background-color: red; }
.cell:nth-child(2045) { background-color: #000000; }
.cell:nth-child(2050) { background-color: #000000; }
.cell:nth-child(2051) { background-color: #000000; }
.cell:nth-child(2052) { background-color: #000000; }
.cell:nth-child(2053) { background-color: #ff33cc; }
.cell:nth-child(2054) { background-color: #ff33cc; }
.cell:nth-child(2055) { background-color: black; }
.cell:nth-child(2057) { background-color: black; }
.cell:nth-child(2058) { background-color: black; }
.cell:nth-child(2059) { background-color: black; }
.cell:nth-child(2074) { background-color: black; }
.cell:nth-child(2075) { background-color: red; }
.cell:nth-child(2076) { background-color: red; }
.cell:nth-child(2077) { background-color: red; }
.cell:nth-child(2078) { background-color: red; }
.cell:nth-child(2079) { background-color: red; }
.cell:nth-child(2080) { background-color: red; }
.cell:nth-child(2081) { background-color: red; }
.cell:nth-child(2082) { background-color: red; }
.cell:nth-child(2083) { background-color: red; }
.cell:nth-child(2084) { background-color: red; }
.cell:nth-child(2085) { background-color: red; }
.cell:nth-child(2086) { background-color: red; }
.cell:nth-child(2087) { background-color: red; }
.cell:nth-child(2088) { background-color: black; }
.cell:nth-child(2095) { background-color: black; }
.cell:nth-child(2096) { background-color: #ff33cc; }
.cell:nth-child(2097) { background-color: #ff33cc; }
.cell:nth-child(2098) { background-color: #ff33cc; }
.cell:nth-child(2099) { background-color: #ff33cc; }
.cell:nth-child(2100) { background-color: black; }
.cell:nth-child(2101) { background-color: black; }
.cell:nth-child(2102) { background-color: #ff33cc; }
.cell:nth-child(2103) { background-color: black; }
.cell:nth-child(2104) { background-color: black; }
.cell:nth-child(2105) { background-color: black; }
.cell:nth-child(2106) { background-color: black; }
.cell:nth-child(2119) { background-color: black; }
.cell:nth-child(2120) { background-color: red; }
.cell:nth-child(2121) { background-color: red; }
.cell:nth-child(2122) { background-color: red; }
.cell:nth-child(2123) { background-color: red; }
.cell:nth-child(2124) { background-color: red; }
.cell:nth-child(2125) { background-color: red; }
.cell:nth-child(2126) { background-color: red; }
.cell:nth-child(2127) { background-color: red; }
.cell:nth-child(2128) { background-color: red; }
.cell:nth-child(2129) { background-color: red; }
.cell:nth-child(2130) { background-color: black; }
.cell:nth-child(2131) { background-color: black; }
.cell:nth-child(2139) { background-color: black; }
.cell:nth-child(2140) { background-color: #ff33cc; }
.cell:nth-child(2141) { background-color: #ff33cc; }
.cell:nth-child(2142) { background-color: #ff33cc; }
.cell:nth-child(2143) { background-color: #ff33cc; }
.cell:nth-child(2144) { background-color: #ff33cc; }
.cell:nth-child(2145) { background-color: #ff33cc; }
.cell:nth-child(2146) { background-color: #ff33cc; }
.cell:nth-child(2147) { background-color: #ff33cc; }
.cell:nth-child(2148) { background-color: #000000; }
.cell:nth-child(2150) { background-color: #000000; }
.cell:nth-child(2164) { background-color: #000000; }
.cell:nth-child(2165) { background-color: red; }
.cell:nth-child(2166) { background-color: red; }
.cell:nth-child(2167) { background-color: red; }
.cell:nth-child(2168) { background-color: red; }
.cell:nth-child(2169) { background-color: red; }
.cell:nth-child(2170) { background-color: red; }
.cell:nth-child(2171) { background-color: red; }
.cell:nth-child(2172) { background-color: red; }
.cell:nth-child(2173) { background-color: black; }
.cell:nth-child(2174) { background-color: black; }
.cell:nth-child(2183) { background-color: black; }
.cell:nth-child(2184) { background-color: #ff33cc; }
.cell:nth-child(2185) { background-color: #ff33cc; }
.cell:nth-child(2186) { background-color: #ff33cc; }
.cell:nth-child(2187) { background-color: #ff33cc; }
.cell:nth-child(2188) { background-color: #ff33cc; }
.cell:nth-child(2189) { background-color: #ff33cc; }
.cell:nth-child(2190) { background-color: #ff33cc; }
.cell:nth-child(2191) { background-color: #ff33cc; }
.cell:nth-child(2192) { background-color: #ff33cc; }
.cell:nth-child(2193) { background-color: black; }
.cell:nth-child(2194) { background-color: black; }
.cell:nth-child(2195) { background-color: black; }
.cell:nth-child(2208) { background-color: black; }
.cell:nth-child(2209) { background-color: red; }
.cell:nth-child(2210) { background-color: red; }
.cell:nth-child(2211) { background-color: red; }
.cell:nth-child(2212) { background-color: red; }
.cell:nth-child(2213) { background-color: black; }
.cell:nth-child(2214) { background-color: red; }
.cell:nth-child(2215) { background-color: red; }
.cell:nth-child(2216) { background-color: red; }
.cell:nth-child(2217) { background-color: black; }
.cell:nth-child(2227) { background-color: black; }
.cell:nth-child(2228) { background-color: #ff33cc; }
.cell:nth-child(2229) { background-color: #ff33cc; }
.cell:nth-child(2230) { background-color: #ff33cc; }
.cell:nth-child(2231) { background-color: #ff33cc; }
.cell:nth-child(2232) { background-color: #ff33cc; }
.cell:nth-child(2233) { background-color: #ff33cc; }
.cell:nth-child(2234) { background-color: #ff33cc; }
.cell:nth-child(2235) { background-color: #ff33cc; }
.cell:nth-child(2236) { background-color: #ff33cc; }
.cell:nth-child(2237) { background-color: black; }
.cell:nth-child(2239) { background-color: black; }
.cell:nth-child(2253) { background-color: black; }
.cell:nth-child(2254) { background-color: red; }
.cell:nth-child(2255) { background-color: red; }
.cell:nth-child(2256) { background-color: black; }
.cell:nth-child(2257) { background-color: black; }
.cell:nth-child(2258) { background-color: red; }
.cell:nth-child(2259) { background-color: red; }
.cell:nth-child(2260) { background-color: black; }
.cell:nth-child(2271) { background-color: black; }
.cell:nth-child(2272) { background-color: #ff33cc; }
.cell:nth-child(2273) { background-color: #ff33cc; }
.cell:nth-child(2274) { background-color: #ff33cc; }
.cell:nth-child(2275) { background-color: #ff33cc; }
.cell:nth-child(2276) { background-color: #ff33cc; }
.cell:nth-child(2277) { background-color: #ff33cc; }
.cell:nth-child(2278) { background-color: #ff33cc; }
.cell:nth-child(2279) { background-color: #ff33cc; }
.cell:nth-child(2280) { background-color: black; }
.cell:nth-child(2284) { background-color: black; }
.cell:nth-child(2297) { background-color: black; }
.cell:nth-child(2298) { background-color: black; }
.cell:nth-child(2299) { background-color: black; }
.cell:nth-child(2301) { background-color: black; }
.cell:nth-child(2302) { background-color: red; }
.cell:nth-child(2303) { background-color: black; }
.cell:nth-child(2316) { background-color: black; }
.cell:nth-child(2317) { background-color: #ff33cc; }
.cell:nth-child(2318) { background-color: #ff33cc; }
.cell:nth-child(2319) { background-color: #ff33cc; }
.cell:nth-child(2320) { background-color: #ff33cc; }
.cell:nth-child(2321) { background-color: #ff33cc; }
.cell:nth-child(2322) { background-color: #ff33cc; }
.cell:nth-child(2323) { background-color:black; }
.cell:nth-child(2324) { background-color: black; }
.cell:nth-child(2328) { background-color: black; }
.cell:nth-child(2342) { background-color: black; }
.cell:nth-child(2346) { background-color: black; }
.cell:nth-child(2361) { background-color: black; }
.cell:nth-child(2362) { background-color: #ff33cc; }
.cell:nth-child(2363) { background-color: #ff33cc; }
.cell:nth-child(2364) { background-color: #ff33cc; }
.cell:nth-child(2365) { background-color: black; }
.cell:nth-child(2366) { background-color: black; }
.cell:nth-child(2368) { background-color: black; }
.cell:nth-child(2369) { background-color: black; }
.cell:nth-child(2370) { background-color: black; }
.cell:nth-child(2371) { background-color: black; }
.cell:nth-child(2406) { background-color: black; }
.cell:nth-child(2407) { background-color: black; }
.cell:nth-child(2408) { background-color: black; }
.cell:nth-child(2413) { background-color: black; }
.cell:nth-child(2451) { background-color: black; }
.cell:nth-child(2456) { background-color: black; }
.cell:nth-child(2496) { background-color: black; }
.cell:nth-child(2500) { background-color: black; }
.cell:nth-child(2541) { background-color: black; }
.cell:nth-child(2542) { background-color: black; }
.cell:nth-child(2543) { background-color: black; }


/* heart */
.cell:nth-child(164) { background-color: red; }
.cell:nth-child(165) { background-color: red; }
.cell:nth-child(166) { background-color: black; }
.cell:nth-child(120) { background-color: black; }
.cell:nth-child(121) { background-color: black; }
.cell:nth-child(168) { background-color: black; }
.cell:nth-child(169) { background-color: red; }
.cell:nth-child(170) { background-color: red; }
.cell:nth-child(171) { background-color: black; }
.cell:nth-child(126) { background-color: black; }
.cell:nth-child(125) { background-color: black; }
.cell:nth-child(207) { background-color: red; } 
.cell:nth-child(206) { background-color: black; } 
.cell:nth-child(210) { background-color: red; } 
.cell:nth-child(163) { background-color: black; }
.cell:nth-child(250) { background-color: black; } 
.cell:nth-child(216) { background-color: black; }
.cell:nth-child(215) { background-color: red; }
.cell:nth-child(214) { background-color: red; }
.cell:nth-child(213) { background-color: red; }
.cell:nth-child(212) { background-color: red; }
.cell:nth-child(211) { background-color: black; }
.cell:nth-child(295) { background-color: black; }
.cell:nth-child(260) { background-color: black; }
.cell:nth-child(251) { background-color: red; } 
.cell:nth-child(259) { background-color: red; }
.cell:nth-child(296) { background-color: red; }
.cell:nth-child(297) { background-color: red; }
.cell:nth-child(298) { background-color: red; }
.cell:nth-child(299) { background-color: red; }
.cell:nth-child(300) { background-color: red; }
.cell:nth-child(301) { background-color: red; }
.cell:nth-child(302) { background-color: red; }
.cell:nth-child(303) { background-color: black; }
.cell:nth-child(253) { background-color: red; }
.cell:nth-child(254) { background-color: red; }
.cell:nth-child(255) { background-color: red; }
.cell:nth-child(256) { background-color: red; }
.cell:nth-child(257) { background-color: red; }
.cell:nth-child(299) { background-color: red; }
.cell:nth-child(258) { background-color: red; }
.cell:nth-child(340) { background-color: black; }
.cell:nth-child(341) { background-color: red; }
.cell:nth-child(342) { background-color: red; }
.cell:nth-child(343) { background-color: red; }
.cell:nth-child(344) { background-color: red; }
.cell:nth-child(345) { background-color: red; }
.cell:nth-child(346) { background-color: black; }
.cell:nth-child(385) { background-color: black; }
.cell:nth-child(386) { background-color: red; }
.cell:nth-child(387) { background-color: red; }
.cell:nth-child(388) { background-color: red; }
.cell:nth-child(389) { background-color: black; }
.cell:nth-child(430) { background-color: black; }
.cell:nth-child(431) { background-color: red; }
.cell:nth-child(432) { background-color: black; }
.cell:nth-child(475) { background-color: black; }